# Set

In [ ]:
# Set is used to store multiple items in a single variable 
# Structure: Unordered, mutable collection of unique elements.
# Implementation: Hash table (like mathematical set).
# Functionality: No duplicates, fast membership testing, union, intersection, difference.

In [12]:
a={34,86,"pls","help","back",'a'}

In [20]:
print(a)

{'help', 34, 86, 'pls', 'a', 'back'}

In [13]:
type(a)

set

In [ ]:
type(a(4))          # 'set' object is not callable

In [16]:
print(len(a))          #Length of the set

6

In [25]:
seta=set(("Hi","Myself","Parminder",56,49))            #Set implementation using constructor

In [26]:
type(seta)

set

In [27]:
print(seta)

{'Myself', 49, 'Parminder', 'Hi', 56}

# Insertion in set

In [28]:
seta.add("Hi")     # Duplicates are not allowed

In [29]:
seta

{49, 56, 'Hi', 'Myself', 'Parminder'}

In [32]:
seta.add("Hiih")      # .add only takes one arguments

In [33]:
seta

{49, 56, 'Hi', 'Hiih', 'Myself', 'Parminder'}

In [34]:
people = {"Jay", "Idrish", "Archi"}

In [35]:
for i in range(1, 6):         #Using loop for insertion
    people.add(i)

In [36]:
print(people)

{1, 2, 3, 4, 5, 'Archi', 'Idrish', 'Jay'}

In [37]:
for i in range(1, 6):
    people.add(input())             #Using user input to insert elements

 32
 45
 67
 22
 45

In [38]:
print(people)

{1, 2, 3, 4, 5, 'Archi', 'Idrish', '67', '45', 'Jay', '22', '32'}

# Union operation on Python Sets
Two sets can be merged using union() function or | operator.

In [39]:
people = {"Jay", "Idrish", "Archil"}
vampires = {"Karan", "Arjun"}
dracula = {"Deepanshu", "Raju"}

In [40]:
notHumans=dracula.union(vampires)        #Using union to join two sets

In [41]:
print(notHumans)

{'Arjun', 'Deepanshu', 'Raju', 'Karan'}

In [42]:
Halfhumans=dracula|people         # Using | operator

In [43]:
print(Halfhumans)

{'Idrish', 'Deepanshu', 'Jay', 'Raju', 'Archil'}

# Intersection operation on Python Sets
This can be done through intersection() or & operator. Common Elements are selected.

In [45]:
Humans={'Idrish', 'Deepanshu', 'Jay', 'Raju', 'Archil'}
animals={'Idrish', 'sakku', 'Jay', 'cena'}

In [46]:
commonPredators=Humans.intersection(animals)     #Using intersection() to find common in two sets

In [47]:
print(commonPredators)

{'Idrish', 'Jay'}

In [48]:
commonPredators1=Humans & animals

In [49]:
print(commonPredators1)              #Using & to find intersection of two sets

{'Idrish', 'Jay'}

#  Differences of Sets
To find differences between sets. Similar to finding differences in the linked list.

In [55]:
set1 = set()
set2 = set()

for i in range(5):
    set1.add(i)

for i in range(3,9):
    set2.add(i)

In [56]:
print(set1,set2)

{0, 1, 2, 3, 4} {3, 4, 5, 6, 7, 8}

In [57]:
set3 = set1.difference(set2)                #Unique elements of set1

In [58]:
set3

{0, 1, 2}

In [59]:
set4 = set2.difference(set1)                #Unique elements of set2

In [60]:
set4

{5, 6, 7, 8}

# Deletion in set

In [50]:
Alphas={'Idrish', 'sakku', 'Jay', 'cena'}

In [52]:
Alphas

{'Idrish', 'Jay', 'cena', 'sakku'}

In [53]:
Alphas.clear()         # Deleting whole set

In [54]:
Alphas

set()